@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.card {
  width: 18rem;
  background-color: #1f0a4e;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

h1 { color: #fff; 
  font-size: 2rem;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  text-align: left;}


.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card {
  margin: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #7b2cbf;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #a35cd8;
}

.rating {
  flex-direction: row;
}

.rating { 
  border: none;
}

.rating > input { 
  display: none; 
} 

.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: left;
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { 
  color: #FFD700;  
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { 
  color: #FFED85;  
}
